html,
body {
  margin: 0;
  padding: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body {
  background: url("./bg.jpg") no-repeat center center, rgba(0, 0, 0, 0.5);
  background-size: contain;
  background-blend-mode: multiply;
}

canvas {
  display: block;
}
